<div class="top">
    <h1>User list</h1>
</div>
<div class="list">
<table>
    <thead>
        <tr>
            <th><a (click)="sort(1,true)">⮟</a>Id<a (click)="sort(1,false)">⮝</a></th>
            <th><a (click)="sort(2,true)">⮟</a> Name<a (click)="sort(2,false)">⮝</a></th>
            <th><a (click)="sort(3,true)">⮟</a>First Name<a (click)="sort(3,false)">⮝</a></th>
            <th><a (click)="sort(4,true)">⮟</a>Email<a (click)="sort(4,false)">⮝</a></th>
            <th><a (click)="sort(5,true)">⮟</a>Type<a (click)="sort(5,false)">⮝</a></th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.type?.name}}</td>
            <td> <button (click)="edit(user)" class="bg-warning"  [routerLink]="['/userform']" [queryParams]="{id:user.id}">Edit</button>    
            <button (click)="delete(user)" class="bg-danger">Delete</button>    </td>
        </tr>
    </tbody>
</table>
</div> 