form {
    margin:auto;
}
.form-group {
    margin:auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80a9beff;
    height: 65px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #708090ff;
    margin-top: 65px;
    width: 100%;
    border:  14px solid #708090ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
}

a:hover {
    background-color: #6c0e3aff;
}

a.active {
    background-color: #6c0e3aff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    
}

.form-group {
    margin: 15px 0;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: solid 3px #890e54ff;
}

input[type="email"] {
    width: 100%;
   
}

button {
    background-color: #890e54ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #890e54ff;
    font-size: larger;
    font-weight: bold;

}

thead {
    background-color: #890e54ff;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    text-align: left;
}

tr{
    height: 30px;
}

td {
    text-align: center;
    height: 5px;
}

tbody{
    background-color: #708090ff;
}


*{
    font:  'Roboto', sans-serif;
}
